<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>New note</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Your note" formControlName="text"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button color="primary" type="submit">Add</button>
    </mat-card-footer>
  </mat-card>
</form>
